[ bun_alh_game_page ] {
	flex: 1 0 0;
	flex-direction: column;
}

[ bun_alh_game_page_title ] {
	justify-content: center;
}

[ bun_alh_game_page_field ] {
	flex: 1 0 0;
	flex-direction: column;
	align-items: center;
	padding: 35px;
}

[ bun_alh_game_page_known_elements ] {
	flex-direction: row;
	border-radius: 15px;
	padding: 15px;
	background-color: var( --bun_alh_theme_main_light );
	border: 2px solid var( --bun_alh_theme_border );
}

[ bun_alh_game_page_synth ] {
	flex: 1 0 0;
	align-items: center;
}
