:root {

	--bun_alh_theme_main: #fffcbb;
	--bun_alh_theme_main_light: #fffcbb7d;
	--bun_alh_theme_border: #fffaa0;

}

mol_button {
	cursor: pointer !important;
}

[ bun_alh_app ] {
	flex-direction: column;
}

[ bun_alh_app_start_page ] {
	flex-direction: column;
	align-items: center;
}

[ bun_alh_app_start_title ] {
	justify-content: center;
}

[ bun_alh_app_start_button ] {
	font-size: 28px;
	font-weight: bold;
	padding: 8px;
	margin-top: 10px;
	background-color: var( --bun_alh_theme_main );
	border: 4px solid var( --bun_alh_theme_border );
}
