:root {

	--bun_alh_theme_main: #fffcbb;
	--bun_alh_theme_main_light: #fffcbb7d;
	--bun_alh_theme_main_bold: #ffd66c;
	--bun_alh_theme_main_bold_alpha: #ffd66c85;
	--bun_alh_theme_border: #fffaa0;
	--bun_alh_theme_border_bold: #f5c23d;
	--bun_alh_theme_scroll_back: #0000;
	--bun_alh_theme_scroll_thumb: #ff9500;
	--bun_alh_theme_victory: #30b320;

}
